<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net46" />
  <package id="AutoMapper" version="4.1.1" targetFramework="net46" />
  <package id="Caliburn.Micro" version="3.0.3" targetFramework="net46" />
  <package id="Caliburn.Micro.Core" version="3.0.3" targetFramework="net46" />
  <package id="Caliburn.Micro.Start" version="3.0.3" targetFramework="net46" />
  <package id="FontAwesome.WPF" version="4.5.0.7" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.4.3" targetFramework="net46" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net46" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="PrettyBin" version="1.1.0" targetFramework="net46" />
  <package id="WeakEvent" version="2.1.0" targetFramework="net46" />
</packages>